.star {
    display: inline-block;
    font-size: 24px;
    color: #ccc;
    cursor: pointer;
    transition: color 0.2s;
}

.star-filled { /* To już nie jest potrzebne */
    color: #f1c40f;
}

.rate-input {
    display: none;
}


.comment-rating {
    margin-left: 10px;
}

.star::before {
    content: "★";
}