html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    display: block;
    background-image: url('../images/BGTop.svg'), url('../images/BGBottom.svg');
    background-size: 81%, 73%;
    background-attachment: fixed, scroll;
    background-repeat: no-repeat;
    background-position: 50% 50%, center bottom 60px;
}