@model ChangePasswordModel
<div id="changePasswordForm">
@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ErrorMessage
    </div>
}
<div class="p-2">
    <div class="text-center fw-bold fs-3 mb-3">Zmiana hasła</div>
    <form asp-controller="User" asp-action="ChangePassword" method="post">
        <!-- Stare hasło -->
        <div class="mb-2">
            <label class="form-label text-nowrap">Stare hasło*</label>
            <input type="password" class="form-control" required asp-for="OldPassword" id="oldPassword" />
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>
        <!-- Nowe hasło -->
        <div class="mb-2">
            <label class="form-label text-nowrap">Nowe hasło*</label>
            <input type="password" class="form-control" required asp-for="NewPassword" id="newPassword" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <!-- Powtórz nowe hasło -->
        <div class="mb-2">
            <label class="form-label text-nowrap">Powtórz nowe hasło*</label>
            <input type="password" class="form-control" required asp-for="ConfirmNewPassword" id="confirmNewPassword" />
            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
        </div>
        <!-- Checkbox Pokaż hasło -->
                            <div class="mb-2 form-check">
                                <input type="checkbox" class="form-check-input" id="showPassword" onclick="togglePasswordVisibility()" />
                                <label class="form-check-label" for="showPassword">Pokaż hasło</label>
                            </div>
        <!-- Przycisk Zapisz -->
       <div class="mb-3 hstack">
           <button type="submit" class="btn btn-warning text-dark me-auto">Zapisz</button>
           <button type="button" class="btn btn-outline-warning text-dark" onclick="showEditProfile()">Anuluj</button>
       </div>
    </form>
</div></div>