@model EditUserModel

<form asp-controller="User" asp-action="EditUser" method="post">
    <!-- Login -->
    <div class="mb-2">
        <label class="form-label text-nowrap">Login</label>
        <input type="text" class="form-control" asp-for="Login"/>
        <span asp-validation-for="Login" class="text-danger"></span>
    </div>
    <!-- Email -->
    <div class="mb-2">
        <label class="form-label text-nowrap">Adres Email</label>
        <input type="email" class="form-control" asp-for="Email"/>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <!-- Przycisk Zapisz -->
    <div class="mb-3 hstack">
        <button type="submit" class="btn btn-warning text-dark me-auto">Zapisz</button>
    </div>
</form>