@model AddRecipeViewModel

@{Layout = "~/Views/Shared/_Panel_Layout.cshtml";}

<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <form asp-action="CreateRecipe" method="post">
                <!-- Kafelek Przepisu -->
                <div class="border border-2 border-warning rounded-3 p-3 shadow bg-light bg-opacity-25 mt-3">
                    <div class="row p-2">
                        <!-- Tytuł -->
                        <div class="col-12 mb-0">
                            <div class="text-center fw-bold fs-3">Dodawanie postów</div>
                            <input type="text" class="form-control" asp-for="title" />
                        </div>
                        <!-- Obraz -->
                        <div class="col-md-6 mb-2 mt-2">
                            <label class="form-label text-nowrap">Obraz</label>
                            <input type="text" class="form-control" asp-for="imageURL" />
                        </div>
                        <!-- Trudność -->
                        <div class="col-md-6 mb-2 mt-2">
                            <label class="form-label text-nowrap">Trudność przepisu:</label>
                            <span id="difficultyLabel">Średni</span>
                            <input type="range" class="form-range" asp-for="difficulty" onchange="updateDifficultyLabel(this)" />
                            <script src="~/js/RangeIndexRecipe.js"></script>
                        </div>

                        <!-- Porcje -->
                        <div class="col-md-6 mb-2">
                            <label class="form-label text-nowrap">Porcje przepisu</label>
                            <input type="number" class="form-control" asp-for="portions" />
                        </div>
                        <!-- Czas przygotowania -->
                        <div class="col-md-6 mb-2">
                            <label class="form-label text-nowrap">Czas przygotowania przepisu</label>
                            <input type="number" class="form-control" asp-for="avgTime" />
                        </div>
                        <!-- Opis -->
                        <div class="col-12 mb-2">
                            <label class="form-label text-nowrap">Opis przepisu</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" asp-for="description"></textarea>
                        </div>
                    </div>
                </div>

                <!-- Submit -->
                <div class="d-grid mt-3 shadow">
                    <button type="submit" class="btn btn-success">Dodaj Przepis</button>
                </div>
            </form>
        </div>
    </div>
</div>
