@model EditUserModel
@{ Layout = "~/Views/Shared/_Panel_Layout.cshtml"; }
<div class="container">
    @{ await Html.RenderPartialAsync("_NotificationPartial"); }
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5"> <!-- Zwiększ szerokość kolumny z kafelkiem profilu użytkownika -->
                <!-- Kafelek profilu użytkownika -->
                <div id="leftTile" class="border border-2 border-warning rounded-3 p-4 shadow bg-light bg-opacity-25 mt-3"> <!-- Zwiększ marginesy kafelka -->
                    <div class="p-2 d-flex flex-column align-items-center">
                        <img src="@Model.AvatarUrl" class="user-avatar mb-3" style="width: 200px; height: 200px; cursor: pointer; border-radius: 50%;" onclick="loadAvatars()">
                        <h3 class="fw-bold mb-3 text-center">@Context.Session.GetString("Login")</h3>
                        <button class="btn btn-warning w-100 mb-2 text-dark" onclick="showEditProfile()">Konto</button>
                        <button class="btn btn-warning w-100 mb-2 text-dark" onclick="showChangePassword()">Zmień hasło</button>
                        <button class="btn btn-warning w-100 mb-2 text-dark" onclick="showDeleteAccount()">Usuń konto</button>
                    </div>
                </div>
            </div>
            <!-- Kafelek z formularzami -->
            <div class="col-lg-7"> <!-- Zwiększ szerokość kolumny z formularzami -->
                <div id="rightTile" class="border border-2 border-warning rounded-3 p-4 shadow bg-light bg-opacity-25 mt-3"> <!-- Zwiększ marginesy kafelka -->
                    @await Html.PartialAsync("_EditProfilePartial", Model)
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ... -->
<div id="avatarModal" class="modal fade" tabindex="-1" aria-labelledby="avatarModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 800px;"> <!-- Zwiększ szerokość modal-dialog -->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="avatarModalLabel">Wybierz awatar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="avatarsContainer" class="d-flex flex-wrap justify-content-around">
                    <!-- Tutaj będą wyświetlone awatary -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ... -->
<script src="~/js/avatars.js"></script>
<script src="~/js/userProfile.js"></script>