@model EditUserModel
@{ Layout = "~/Views/Shared/_Panel_Layout.cshtml"; }
<div class="container">
    @{ await Html.RenderPartialAsync("_NotificationPartial"); }
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <!-- Kafelek profilu użytkownika -->
                <div id="leftTile" class="border border-2 border-warning rounded-3 p-3 shadow bg-light bg-opacity-25 mt-3">
                    <div class="p-2">
                        <div class="text-center">
                            <div class="user-avatar" style="color: #5c636a;">
                                <i class="bi bi-person-circle" style="font-size: 100px;"></i>
                            </div>
                            <h3 class="fw-bold mb-3">@Context.Session.GetString("Login")</h3> <!-- Dodaj klasę mb-3 -->
                        </div>
                        <div>
                            <button class="btn btn-warning w-100 mb-2 text-dark" onclick="showEditProfile()">Konto</button>
                            <button class="btn btn-warning w-100 mb-2 text-dark" onclick="showChangePassword()">Zmień hasło</button>
                            <button class="btn btn-warning w-100 mb-2 text-dark" onclick="showDeleteAccount()">Usuń konto</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Kafelek z formularzami -->
            <div class="col-lg-6">
                <div id="rightTile" class="border border-2 border-warning rounded-3 p-3 shadow bg-light bg-opacity-25 mt-3">
                    @await Html.PartialAsync("_EditProfilePartial", Model)
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ... -->

<script src="~/js/userProfile.js"></script>