<h1 class="text-center">Panel Główny</h1>
<div class="row justify-content-center">
    <div class="col-sm-6">
        <div class="card text-white bg-dark">
            <div class="card-body">
                <h5 class="card-title">Inforamcje o użytkowniku</h5>
                <p class="card-text">Opis innego panelu</p>
                <a class="btn btn-primary" asp-area="" asp-controller="User" asp-action="EditUser">Edycja użytkownika</a>
                <a href="#" class="btn btn-primary">Przejdź</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card text-white bg-dark">
            <div class="card-body">
                <h5 class="card-title">Przepisy</h5>
                <p class="card-text">Przejdź, aby zarządzać swoimi przepisami</p>
                <a class="btn btn-primary" asp-area="" asp-controller="User" asp-action="RecipeList">Edycja przepisów</a>
                <a href="#" class="btn btn-primary">Przejdź</a>
            </div>
        </div>
    </div>
</div>

