@using BlogKulinarny.Data
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@functions {
    private bool IsAdmin()
    {
        int? userRank = null;
        if (HttpContextAccessor.HttpContext.Session.TryGetValue("UserId", out byte[] userIdBytes)
            && int.TryParse(System.Text.Encoding.UTF8.GetString(userIdBytes), out int userId))
        {
            var dbContext = HttpContextAccessor.HttpContext.RequestServices.GetService(typeof(AppDbContext)) as AppDbContext;
            var user = dbContext.users.FirstOrDefault(u => u.Id == userId);
            if (user != null)
            {
                userRank = (int?)user.rank;
            }
        }
        return userRank.HasValue && userRank.Value >= 1;
    }
}

<div class="overflow-hidden">
    <div class="row gx-3">
        <!-- Sidebar -->
        <div class="col-xl-2 col-lg-3 col-md-4 border border-top-0 border-1 border-warning bg-light bg-opacity-50">
            <div class="p-3">
                <div class="row gy-3">
                 <!-- Część Panelu bocznego dla użytkowników i adminów -->
                <div class="col-12">
                    <h4 class="text-center">Panel Użytkownika</h4>
                </div>
                <div class="col-6 col-md-12 d-grid">
                    <a class="btn btn-warning" asp-area="" asp-controller="User" asp-action="EditUser">Edycja użytkownika</a>
                </div>
                <div class="col-6 col-md-12 d-grid">
                    <a class="btn btn-warning" asp-area="" asp-controller="User" asp-action="AddRecipe">Dodawanie przepisów</a>
                </div>
                <div class="col-6 col-md-12 d-grid">
                    <a class="btn btn-warning" asp-area="" asp-controller="User" asp-action="RecipeList">Twoje przepisy</a>
                </div>
                <div class="col-6 col-md-12 d-grid">
                    <a class="btn btn-warning" asp-area="" asp-controller="User" asp-action="AddCategory">Dodaj Kategorie</a>
                </div>
                @if (IsAdmin())
                {
                <!-- Część Panelu bocznego tylko dla adminów -->
                    <div class="col-12">
                        <hr class="hr"/>
                        <h4 class="text-center">Panel Admina</h4>
                    </div>
                    <div class="col-6 col-md-12 d-grid">
                        <a class="btn btn-warning" asp-area="" asp-controller="Admin" asp-action="UnconfirmedUsers">Zatwierdzanie użytkowników</a>
                    </div>
                    <div class="col-6 col-md-12 d-grid">
                        <a class="btn btn-warning" asp-area="" asp-controller="Admin" asp-action="UnconfirmedRecipes">Zatwierdzanie przepisów</a>
                    </div>
                    <div class="col-6 col-md-12 d-grid">
                        <a class="btn btn-warning" asp-area="" asp-controller="Admin" asp-action="RecipeList">Edycja przepisów</a>
                    </div>
                    <div class="col-6 col-md-12 d-grid">
                        <a class="btn btn-warning" asp-area="" asp-controller="Admin" asp-action="Categories">Kategorie</a>
                    </div>
                 }
                </div>
            </div>
        </div>       

        <!-- Main View -->
        <div class="col-xl-10 col-lg-9 col-md-8 ">
            @RenderBody()
        </div>
    </div>
</div>
