@model ChangePasswordViewModel

<div class="container">
    <div class="row justify-content-center">
        <!-- Panel Logowania -->
        <div class="col-lg-6">
            <div class="border border-2 border-warning rounded-3 p-3 shadow bg-light bg-opacity-25 mt-3">
                <div class="p-2">
                    <!-- Form -->
                    <form asp-controller="Auth" asp-action="ChangePasswd" method="post">
                        @* Tytuł *@
                        <div class="mb-2">
                            <p class="text-center fw-bold fs-3">Zmień hasło</p>
                        </div>
                        @* Nowe hasło *@
                        <div class="mb-2">
                            <div class="mb-1">
                                <label class="form-label text-nowrap">Nowe hasło*</label>
                                <input type="password" id="Password" class="form-control" required asp-for="Password"/>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        @* Powtórz nowe hasło *@
                        <div class="mb-2">
                            <div class="mb-1">
                                <label class="form-label text-nowrap">Powtórz nowe hasło*</label>
                                <input id="ConfirmPassword" type="password" class="form-control" required asp-for="ConfirmPassword"/>
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                        @* Zmiana hasła *@
                        <div class="mb-0 hstack">
                            <button type="submit" class="btn btn-success">Zmień hasło</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>