@model RegistrationViewModel

<div class="container">
    <div class="row justify-content-center">
        <!-- Panel Rejestracji -->
        <div class="col-lg-6">
            <div class="border border-2 border-primary rounded-3 p-3">
                <div class="p-2">
                    <!-- Form -->
                    <form asp-controller="Auth" asp-action="Register" method="post">
                        <!-- Tytuł -->
                        <div class="mb-3">
                            <p class="text-center fw-bold fs-3">Zarejestruj się</p>
                        </div>
                        <!-- Login -->
                        <div class="mb-3">
                            <label class="form-label text-nowrap">Login*</label>
                            <input type="text" class="form-control" required asp-for="Login" />
                            <span asp-validation-for="Login" class="text-danger"></span>
                        </div>
                        <!-- Email -->
                        <div class="mb-3">
                            <label class="form-label text-nowrap">Adres Email*</label>
                            <input type="email" class="form-control" required asp-for="Email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <!-- Hasło -->
                        <div class="mb-3">
                            <div class="mb-1">
                                <label class="form-label text-nowrap">Hasło*</label>
                                <input type="password" id="Password" class="form-control" required asp-for="Password" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <!-- Powtórz hasło -->
                            <div class="mb-1">
                                <label class="form-label text-nowrap">Powtórz hasło*</label>
                                <input id="ConfirmPassword" type="password" class="form-control" required asp-for="ConfirmPassword" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <span>
                                Pokaż hasło
                                <input type="checkbox" id="showPassword" onclick="togglePasswordVisibility()" />
                            </span>
                        </div>
                        <!-- Checkbox - Akceptuj regulamin -->
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="AcceptTerms" required />
                            <label class="form-check-label" for="AcceptTerms">Akceptuję regulamin</label>
                        </div>
                        <!-- Komunikat błędu -->
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <!-- Powrót do strony logowania -->
                        <div class="mb-0 hstack">
                            <a asp-area="" asp-controller="Auth" asp-action="Login" class="btn btn-secondary me-auto" role="button">Powrót do logowania</a>
                            <button type="submit" class="btn btn-primary">Zarejestruj się</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Panel Boczny -->
        <div class="col-lg-4 d-none d-lg-block offset-1">
            <div class="p-3">
                <div class="p-2">
                    <p class="text-center fw-bold fs-3">Panel Boczny</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function togglePasswordVisibility() {
        var passwordInput = document.getElementById("Password");
        var confirmPasswordInput = document.getElementById("ConfirmPassword");
        var showPasswordCheckbox = document.getElementById("showPassword");

        if (showPasswordCheckbox.checked) {
            passwordInput.type = "text";
            confirmPasswordInput.type = "text";
        } else {
            passwordInput.type = "password";
            confirmPasswordInput.type = "password";
        }
    }
</script>
