@model ResetPasswordViewModel

<div class="container">
    <div class="row justify-content-center">
        <!-- Panel Resetowania Hasła -->
        <div class="col-lg-6">
            <div class="border border-2 border-warning rounded-3 p-3 shadow bg-light bg-opacity-25 mt-3">
                <div class="p-2">
                    <!-- Formularz -->
                    <form asp-controller="Auth" asp-action="SendPasswdLink" method="post">
                        <!-- Tytuł -->
                        <div class="mb-2">
                            <p class="text-center fw-bold fs-3">Resetuj hasło</p>
                        </div>
                        <!-- Email -->
                        <div class="mb-2">
                            <label class="form-label text-nowrap">Adres Email*</label>
                            <input type="text" class="form-control" required asp-for="Email"/>
                        </div>
                        <!-- Wymagane pola -->
                        <div class="mb-2">
                            <div class="form-text">
                                * - Wymagane pola.
                            </div>
                        </div>
                        <!-- Przycisk resetowania hasła -->
                        <div class="mb-0">
                            <button type="submit" class="btn btn-success">Wyslij link</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>