

<ul class="list-group pmd-list pmd-card-list">
    <li class="list-group-item d-flex bg-dark text-white text-center m-3">
        <div class="media-body">
            <h6 class="pmd-list-title">Nazwa użytkownika</h6>
            <p class="pmd-list-subtitle">adres mailowy</p> 
            <div class="d-flex justify-content-start align-items-center m-3">
                <button class="btn btn-success m-3">Zatwierdź</button>
                <button class="btn btn-danger m-3">Odrzuć</button>
            </div>
        </div>
    </li> 
    <li class="list-group-item d-flex bg-dark text-white text-center m-3">
        <div class="media-body">
            <h6 class="pmd-list-title">Nazwa użytkownika</h6>
            <p class="pmd-list-subtitle">adres mailowy</p> 
            <div class="d-flex justify-content-start align-items-center m-3">
                <button class="btn btn-success m-3">Zatwierdź</button>
                <button class="btn btn-danger  m-3">Odrzuć</button>
            </div>
        </div>
    </li>
</ul>
