<div class="container-fluid mt-3">
    <div class="row">
        <!-- One card -->
        <div class="col-12 mt-2 mb-2">
            <div class="border border-warning border-2 border-primary rounded-3 p-3 shadow bg-light bg-opacity-25">
                <div class="row gy-3">
                    <!-- Info -->
                    <div class="col-7">
                        <div class="row gy-3 gx-3">
                            <div class="col-lg-4 col-md-7">
                                <div class="py-2 text-truncate fw-bold" title="Nazwa użytkownika">
                                    Nazwa użytkownika
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-5">
                                <div class="py-2 text-truncate" title="Rola">
                                    Rola
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="py-2 text-truncate" title="Email">
                                    Email
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Przyciski -->
                    <div class="col-5">
                        <div class="row gy-3 gx-3">
                            <div class="d-grid col-lg-4 col-md-12">
                                <button type="button" class="btn btn-success text-nowrap">Zatwierdź</button>
                            </div>
                            <div class="d-grid col-lg-4 col-md-6">
                                <button type="button" class="btn btn-danger text-nowrap">Odrzuć</button>
                            </div>
                            <div class="d-grid col-lg-4 col-md-6">
                                <button type="button" class="btn btn-warning text-nowrap">Szczegóły</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Second card for show -->
        <div class="col-12 mt-2 mb-2">
            <div class="border border-warning border-2 border-primary rounded-3 p-3 shadow bg-light bg-opacity-25">
                <div class="row gy-3">
                    <!-- Info -->
                    <div class="col-7">
                        <div class="row gy-3 gx-3">
                            <div class="col-lg-4 col-md-7">
                                <div class="py-2 text-truncate fw-bold" title="Niesamowicie długa nazwa użytkownika">
                                    Niesamowicie długa nazwa użytkownika
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-5">
                                <div class="py-2 text-truncate" title="AdminStaregoSerwera2">
                                    AdminStaregoSerwera2
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="py-2 text-truncate" title="DłuższyPrzykładowyEmail2000@gmail.super.com">
                                    DłuższyPrzykładowyEmail2000@gmail.super.com
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Przyciski -->
                    <div class="col-5">
                        <div class="row gy-3 gx-3">
                            <div class="d-grid col-lg-4 col-md-12">
                                <button type="button" class="btn btn-success text-nowrap">Zatwierdź</button>
                            </div>
                            <div class="d-grid col-lg-4 col-md-6">
                                <button type="button" class="btn btn-danger text-nowrap">Odrzuć</button>
                            </div>
                            <div class="d-grid col-lg-4 col-md-6">
                                <button type="button" class="btn btn-warning text-nowrap">Szczegóły</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>