<h1 class="text-center">Panel Głowny</h1>
<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card text-white bg-dark">
            <div class="card-body">
                <h5 class="card-title">Użytkownicy</h5>
                <p class="card-text">Przejdź żeby zarządzać użytkownikami na stronie</p>
                <a class="btn btn-primary" asp-area="" asp-controller="Admin" asp-action="UnconfirmedUsers">Zatwierdzanie użytkowników</a>
                <a class="btn btn-primary" asp-area="" asp-controller="Admin">Edycja użytkowników</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card text-white bg-dark">
            <div class="card-body">
                <h5 class="card-title">Posty</h5>
                <p class="card-text">Przejdź żeby zarządzać postami na stronie</p>
                <a class="btn btn-primary" asp-area="" asp-controller="Admin" asp-action="UnconfirmedRecipes">Zatwierdzanie przepisów</a>
                <a href="#" class="btn btn-primary">Przejdź</a>
            </div>
        </div>
    </div>
</div>
<div class="m-3">
    <div class="card text-center text-white bg-dark">
        <div class="card-body">
            <h5 class="card-title">Aktualności</h5>
            <p class="card-text">tutaj moze cos wiecej bedzie</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>
