<div class="container-fluid mt-3">
    <div class="row">
        <!-- One card -->
        <div class="col-12 mt-2 mb-2">
            <!-- Card Body -->
            <div class="border border-warning border-2 border-primary rounded-3 p-3 shadow bg-light bg-opacity-25">
                <div class="row gy-3 gx-3">
                    <!-- Main -->
                    <div class="col-sm-8">
                        <div class="row gx-3">
                            <!-- Information -->
                            <div class="col-md-7">
                                <div class="py-2 text-truncate fw-bold" title="Nazwa Przepisu">
                                    Nazwa Przepisu
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="py-2 text-truncate" title="Autor">
                                    Autor
                                </div>
                            </div>
                            <!-- Tags... -->
                            <div class="col-md-12">
                                <div class="row gx-3 gy-3">
                                    <div class="col-auto border border-2 rounded-2 border-warning mx-1">
                                        <div class="p-1">
                                            Tag1
                                        </div>
                                    </div>
                                    <div class="col-auto border border-2 rounded-2 border-warning mx-1">
                                        <div class="p-1">
                                            Tag2
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Buttons -->
                    <div class="col-sm-4">
                        <div class="row g-3">
                            <div class="d-grid col-md-12">
                                <button type="button" class="btn btn-success text-nowrap">Zatwierdź</button>
                            </div>
                            <div class="d-grid col-md-6">
                                <button type="button" class="btn btn-danger text-nowrap">Odrzuć</button>
                            </div>
                            <div class="d-grid col-md-6">
                                <button type="button" class="btn btn-warning text-nowrap">Szczegóły</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Second card for show -->
        <div class="col-12 mt-2 mb-2">
            <!-- Card body -->
            <div class="border border-warning border-2 border-primary rounded-3 p-3 shadow bg-light bg-opacity-25">
                <div class="row gy-3 gx-3">
                    <!-- Main -->
                    <div class="col-sm-8">
                        <div class="row gx-3">
                            <!-- Information -->
                            <div class="col-md-7">
                                <div class="py-2 text-truncate fw-bold" title="Dłuższa nazwa przepisu przykład jajecznica, ale jajecznica była za krótka i nic nie psuła">
                                    Dłuższa nazwa przepisu przykład jajecznica, ale jajecznica była za krótka i nic nie psuła
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="py-2 text-truncate" title="Dłuższa nazwa autora która mogłaby coś popsuć">
                                    Dłuższa nazwa autora która mogłaby coś popsuć
                                </div>
                            </div>
                            <!-- Tags... -->
                            <div class="col-md-12">
                                <div class="row gx-3 gy-3">
                                    <div class="col-auto border border-2 rounded-2 border-warning mx-1">
                                        <div class="p-1 text-truncate">
                                            #Jajka
                                        </div>
                                    </div>
                                    <div class="col-auto border border-2 rounded-2 border-warning mx-1">
                                        <div class="p-1 text-truncate">
                                            #Bekon
                                        </div>
                                    </div>
                                    <div class="col-auto border border-2 rounded-2 border-warning mx-1">
                                        <div class="p-1 text-truncate">
                                            #DanieNaPatelni
                                        </div>
                                    </div>
                                    <div class="col-auto border border-2 rounded-2 border-warning mx-1">
                                        <div class="p-1 text-truncate">
                                            #Smaczne
                                        </div>
                                    </div>
                                    <div class="col-auto border border-2 rounded-2 border-warning mx-1">
                                        <div class="p-1 text-truncate">
                                            #NiepotrzebnieDługi#####AbyPopsuć
                                        </div>
                                    </div>
                                    <div class="col-auto border border-2 rounded-2 border-warning mx-1">
                                        <div class="p-1 text-truncate">
                                            #NiepotrzebnieDługi#####AbyPopsućV2
                                        </div>
                                    </div>
                                    <div class="col-auto border border-2 rounded-2 border-warning mx-1">
                                        <div class="p-1 text-truncate">
                                            #NiepotrzebnieDługi#####AbyPopsućV2AleTymRazemJeszczeDłuższy
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Buttons -->
                    <div class="col-sm-4">
                        <div class="row g-3">
                            <div class="d-grid col-md-12">
                                <button type="button" class="btn btn-success text-nowrap">Zatwierdź</button>
                            </div>
                            <div class="d-grid col-md-6">
                                <button type="button" class="btn btn-danger text-nowrap">Odrzuć</button>
                            </div>
                            <div class="d-grid col-md-6">
                                <button type="button" class="btn btn-warning text-nowrap">Szczegóły</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>