@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-6">
                <p class="text-center fs-1 fst-italic">Tutaj jakieś motto życiowe pls.</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-7">
                <div class="border border-2 border-warning rounded-3 p-3 shadow bg-light bg-opacity-25 mt-3">
                    <div class="row">
                        <div class="col">
                            <p class="text-center text-secondary fs-5">Przejdź do wyszukiwarki przepisów</p>
                        </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col">
                            <button type="button" class="btn btn-warning text-secondary">Wyświetl wszystkie przepisy</button>
                        </div>
                    </div>
                    <div class="row justify-content-md-center pt-4">
                        <div class="col-5">
                            <hr class="border border-1 rounded-3 border-secondary ms-5"/>
                        </div>
                        <div class="col pt-1">
                            <p class="text-secondary fs-7">lub</p>
                        </div>
                        <div class="col-5">
                            <hr class="border border-1 rounded-3 border-secondary me-5"/>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="input-group mb-3 pe-3 ps-3">
                        <button class="btn btn-warning text-secondary" type="button" id="button-addon1"><i class="bi bi-search"></i></button>
                            <input type="text" class="form-control border-warning" placeholder="Szukaj przepisu" aria-label="Example text with button addon" aria-describedby="button-addon1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>