@model List<BlogKulinarny.Models.Recipe>

<div class="container-fluid mt-3">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-lg-3 sidebar">
            <!-- Dodaj tutaj zawartość panelu bocznego -->
            <!-- Przykładowa treść -->
            <h4>Panel boczny</h4>
            <p>To jest zawartość panelu bocznego.</p>
        </div>

        <!-- Recipes -->
        <div class="col-lg-9 mt-3 recipes">
            <div class="row">
                <!-- One card -->
                @foreach (var recipe in Model)
                {
                    <div class="col-12 mt-2 mb-2">
                        <!-- Card Body -->
                        <div class="border border-warning border-2 border-primary rounded-3 p-3 shadow bg-light bg-opacity-25">
                            <div class="row gy-3 gx-3">
                                <!-- Main -->
                                <div class="col-sm-8">
                                    <div class="row gx-3">
                                        <!-- Information -->
                                        <div class="col-md-7">
                                            <div class="py-2 text-truncate fw-bold" title="Nazwa Przepisu">
                                                @recipe.title
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="py-2 text-truncate" title="Autor">
                                                @recipe.user
                                            </div>
                                        </div>
                                        <!-- Tags -->
                                        @foreach (var tag in recipe.recipesCategories)
                                        {
                                            <div class="col-md-12">
                                                <div class="row gx-3 gy-3">
                                                    <div class="col-auto border border-2 rounded-2 border-warning mx-1">
                                                        <div class="p-1">
                                                            @tag.category.name
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <!-- Image -->
                                <div class="col-sm-4">
                                    <div class="row gx-3">
                                        <div class="col-md-12">
                                            <img src="@recipe.imageURL" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
