@model List<BlogKulinarny.Models.Recipe>

<div class="container-fluid mt-3">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-lg-3 sidebar">
            <!-- Dodaj tutaj zawartość panelu bocznego -->
            <!-- Przykładowa treść -->
            <form action="/Home/RecipesList" method="get">
                <div class="row mt-2">
                    <div class="input-group input-group-sm">
                        <button class="btn btn-warning text-secondary" type="submit" id="button-addon1"><i class="bi bi-search"></i></button>
                        <input type="text" class="form-control border-warning" name="SearchForRecipe" placeholder="Szukaj przepisu" aria-label="Example text with button addon" aria-describedby="button-addon1" value="@ViewBag.SearchForRecipe">
                    </div>
                </div>
                <div class="row mt-2">
                    <h4>Sortowanie:</h4>
                    <div class="form-check-sm mt-1 mb-1">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
                        <label class="form-check-label" for="flexCheckDefault">
                            Alfabetycznie
                        </label>
                    </div>
                    <div class="form-check-sm mt-1 mb-1">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
                        <label class="form-check-label" for="flexCheckDefault">
                            Czas wykonania
                        </label>
                    </div>
                    <div class="form-check-sm mt-1 mb-1">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3">
                        <label class="form-check-label" for="flexCheckDefault">
                            Poziom trudności
                        </label>
                    </div>
                    <div class="form-check-sm mt-1 mb-1">
                        <input class="form-check-input" type="radio" name="sortOption" id="sortAlphabetical" value="alphabetical" checked disabled>
                        <label class="form-check-label" for="sortAlphabetical">
                            Najłatwiejsze
                        </label>
                    </div>
                    <div class="form-check-sm mt-1 mb-1">
                        <input class="form-check-input" type="radio" name="sortOption" id="sortDifficulty" value="difficulty" disabled>
                        <label class="form-check-label" for="sortDifficulty">
                            Najtrudniejsze
                        </label>
                    </div>
                    <div class="row ps-5 pe-5 mt-2">
                        <button type="button" class="btn btn-sm btn-secondary mt-1 mb-1" id="resetSort">Reset</button>
                    </div>
                </div>
            </form>
        </div>

        <!-- Recipes -->
        <div class="col-lg-9 mt-3 recipes">
            <div class="row">
                <!-- One card -->
                @foreach (var recipe in Model)
                {
                    <div class="col-12 mt-2 mb-2">
                        <!-- Card Body -->
                        <div class="card border-warning border-2 border-primary rounded-3 shadow bg-light bg-opacity-25">
                            <!-- Main -->
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <a href="">
                                        <img src="@recipe.imageURL" class="img-fluid rounded-start" alt="...">
                                    </a>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <a href="" class="text-decoration-none link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                                                @recipe.title
                                            </a>
                                        </h5>
                                        <div class="overflow-auto p-1 border-top border-2 border-warning" style="max-height: 100px;">
                                        @foreach (var tag in recipe.recipesCategories)
                                        {
                                        <a href="/Home/RecipesList?SearchForRecipe=@tag.category.name" class="card-link border border-warning border-2 rounded-3 bg-light bg-opacity-25 text-decoration-none link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                                            #@tag.category.name
                                        </a>
                                        }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
