body {

}

.sidebar {
    position: fixed;
    top: 56px; /* Wysokość domyślnego paska nawigacyjnego (dostosuj wartość, jeśli jest inna) */
    left: 0;
    bottom: 0;
    width: 200px; /* Szerokość panelu bocznego */
    background-color: #f8f9fa; /* Kolor tła panelu bocznego */
    padding: 20px; /* Wewnętrzny margines panelu bocznego */
}

.recipes {
    margin-left: 220px; /* Margines po lewej stronie, aby przesunąć treść przepisów */
}
